<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data>
      
      <!-- Menu root -->
      <menuitem 
                id="menu_open_academy" 
                name="Odoo Academy" 
                web_icon="open_academy,static/description/icon.png"
              />

      <!-- Menu Cursos -->
      <menuitem 
                id="menu_courses" 
                name="Cursos" 
                parent="menu_open_academy"
              />

      <menuitem 
                id="menu_courses_action" 
                name="Curso" 
                parent="menu_courses"
                action="course_window" 
                sequence="1"

              />

      <menuitem 
                id="menu_courses_action_calendar" 
                name="Calendario" 
                parent="menu_courses"
                action="course_calendar_window" 
                sequence="2"
              />

      <!-- Menu Sesiones -->

      <menuitem 
                id="menu_sessions" 
                name="Sesiones" 
                parent="menu_open_academy"
              />

      <menuitem 
                id="menu_sessions_action" 
                name="Sesiones/Lecciones" 
                parent="menu_sessions" 
                sequence="1" 
                action="session_window"
              />

      <menuitem 
                id="menu_sessions_tags_action" 
                name="Etiquetas" 
                parent="menu_sessions" 
                sequence="10" 
                action="session_tags_window"
              />

      <!-- Contactos -->

      <menuitem 
                id="menu_contacts" 
                name="Contactos/Personas" 
                parent="menu_open_academy"
              />

      <menuitem 
                id="menu_partners_students_action" 
                name="Estudiantes/Asistentes" 
                parent="menu_contacts" 
                sequence="1" 
                action="partner_students_act"
              />


    </data>

</odoo>