<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data>
      
      <!-- Menu root -->
      <menuitem 
                id="menu_open_academy" 
                name="Odoo Academy" 
                web_icon="open_academy,static/description/icon.png"
              />

      <!-- Menu Cursos -->
      <menuitem 
                id="menu_courses" 
                name="Cursos" 
                parent="menu_open_academy"
              />

      <menuitem 
                id="menu_courses_action" 
                name="Curso" 
                parent="menu_courses"
                action="course_window"
              />

      <!-- Menu Sesiones -->

      <menuitem 
                id="menu_sessions" 
                name="Sesiones" 
                parent="menu_open_academy"
              />

      <menuitem 
                id="menu_sessions_action" 
                name="Sesiones/Lecciones" 
                parent="menu_sessions"
                action="session_window"
              />

    </data>

</odoo>